<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">布局</a>
			</li>
			<li class="active">首页</li>
		</ul><!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				首页
				<small>
					<i class="icon-double-angle-right"></i>
					查看
				</small>
			</h1>
		</div><!-- /.page-header -->
		<form enctype="multipart/form-data">
			<div class="row">
				<div class="col-xs-12">
					<h4>置顶 &amp; 新闻</h4>
					<hr>
					<div class="form-group">
						<label>标题</label>
						<input type="text" name="e_title"/>
					</div>
					<div class="form-group">
						<label>内容</label>
						<textarea></textarea>
					</div>
					<div class="form-group">
						<label>图片</label>
						<input type="file" name="e_img_url">
					</div>
					<div class="form-group">
						<label>链接</label>
						<input type="text" name="e_url"/>
					</div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<a class="btn btn-info" type="button" href="javascript:motify();">
								<i class="icon-ok bigger-110"></i>
								Submit
							</a>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<h4>置顶 &amp; 公告</h4>
					<hr>
					<div class="form-group">
						<label>标题</label>
						<input type="text" name="title"/>
					</div>
					<div class="form-group">
						<label>内容</label>
						<textarea></textarea>
					</div>
					<div class="form-group">
						<label>图片</label>
						<input type="file" name="photo">
					</div>
					<div class="form-group">
						<label>链接</label>
						<input type="text" name="url"/>
					</div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								Submit
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<h4>学院 &amp; 链接</h4>
					<hr>
					<div class="form-group">
						<label>文字</label>
						<input type="text" name="title"/>
					</div>
					<div class="form-group">
						<label>链接</label>
						<input type="text" name="url"/>
					</div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								Add
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<h4>部门 &amp; 导航</h4>
					<hr>
					<div class="form-group">
						<label>文字</label>
						<input type="text" name="title"/>
					</div>
					<div class="form-group">
						<label>链接</label>
						<input type="text" name="url"/>
					</div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								Add
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<h4>其他 &amp; 链接</h4>
					<hr>
					<div class="form-group">
						<label>文字</label>
						<input type="text" name="title"/>
					</div>
					<div class="form-group">
						<label>链接</label>
						<input type="text" name="url"/>
					</div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								Add
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div><!-- /.page-content -->
</div>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
	function motify(){
		var url = "{:U('Dashboard/Ajax/index')}";
		var formData = "wwwwdasjdklsajkdjkl";
		$.ajax({
			url: url,  
			type: 'POST',
			xhr: function() {  
				myXhr = $.ajaxSettings.xhr();
				return myXhr;
			},
			data: formData,
			cache: false,
			contentType: false,
			processData: false
		});
		function progressHandlingFunction(e){
			if(e.lengthComputable){
				$('progress').attr({value:e.loaded,max:e.total});
			}
		}
	}
</script>