{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>艺术设计学院-郑州轻工业学院</title>

	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/boots_config.css">
  <link href="__PUBLIC__/css/style_index.css" rel="stylesheet"/>
  <style>
    #container { width: 1024px; height: 200px; margin: 20px auto;}
    #skippr h2 { margin: 50px 0 0 50px; font: 50px "Microsoft Yahei"; color: #fff; text-shadow: 1px 1px 0 #000;}
    #skippr p { margin: 10px 0 0 100px; font: 30px "Microsoft Yahei"; color: #fff; text-shadow: 1px 1px 0 #000;}

  </style>
  <link rel="stylesheet" href="__PUBLIC__/css/jquery.skippr.css">
  <link href="favicon.ico" rel="shortcut icon">
</head>
<body onResize="show_wel();">
  <div class="index_content">
    <div class="img_header">
     <img src="__PUBLIC__/{$index_img1[0]['e_img_url']}" alt="col_img">
     <div class="img_shadow"></div>
     <div class="title_logo">
      <img class="img_text" src="__PUBLIC__/images/small_img/logo.png" alt="col_img">
    </div>
  </div>

  <div class="div_nav">
    <ul class="ul1">
     <li>
       <div>
         <a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/images/small_img/1_0020_List-Format.png" alt="学院首页"><span>学院首页</span></a>
       </div>
     </li>
     <li>
       <div class="dropdown">
        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="__PUBLIC__/images/small_img/1_0016_Home.png" alt="学院概况"><span>学院概况</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{:U('Home/Index/survey')}">党政管理机构</a></li>
          <li><a href="{:U('Home/Index/survey')}">系部中心</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="__PUBLIC__/images/small_img/1_0010_User.png" alt="师资队伍"><span>师资队伍</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{:U('Home/Index/teaching')}">教师荣誉</a></li>
          <li><a href="{:U('Home/Index/teaching')}">教师名录</a></li>
        </ul>
      </div>
    </li>
    <li class="logo_logo">
      <div>
        <a href="#"><img src="__PUBLIC__/images/small_img/1_0022_logo.png" alt="学院首页"></a>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="__PUBLIC__/images/small_img/1_0007_Multi-User.png" alt="人才培养">
          <span>人才培养</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{:U('Home/Index/majors')}">研究生教育</a></li>
          <li><a href="{:U('Home/Index/majors')}">本科生教育</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{:U('Home/Index/majors')}">教学评估</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="__PUBLIC__/images/small_img/1_0004_Edit.png" alt="研究创作"><span>研究创作</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{:U('Home/Index/research')}">主要研究方向</a></li>
          <li><a href="{:U('Home/Index/research')}">主要研究成果</a></li>
          <li><a href="{:U('Home/Index/research')}">主要创作方向</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="__PUBLIC__/images/small_img/1_0015_Document.png" alt="党团工学"><span>党团工学</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{:U('Home/Index/campus')}?sub=党总支新闻">党总支新闻</a></li>
          <li><a href="{:U('Home/Index/campus')}?sub=共青团新闻">共青团新闻</a></li>
          <li><a href="{:U('Home/Index/campus')}?sub=分工会新闻">分工会新闻</a></li>
          <li><a href="{:U('Home/Index/campus')}?sub=学生会新闻">学生会新闻</a></li>
          <li><a href="{:U('Home/Index/campus')}?sub=政策法规">政策法规</a></li>
          <li><a href="{:U('Home/Index/campus')}?sub=特色工作">特色工作</a></li>
          <li><a href="{:U('Home/Index/campus')}?sub=美丽瞬间">美丽瞬间</a></li>
          <li><a href="{:U('Home/Index/campus')}">全部新闻</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="home_cen">
 <div class="home_main">
  <div class="hmain_left fl">
    <div class="home_tit"><a href="{:U('Home/Index/campus')}" style="float: right;">更多 &gt;</a>新闻中心<em>NEWS</em></div>
    <dl class="hmle_dl">
      <dt> <a href="{$index_img1[1]['e_url']}" class="new_img fl"><img width="150" height="95" src="__PUBLIC__/{$index_img1[1]['e_img_url']}"></a>
        <div class="new_wz fl"> <strong><a href="{$index_img1[1]['e_url']}">{$index_img1[1]['e_title']}</a></strong>    {$index_img1[1]['e_content']} </div>
        <div class="clear"></div>
      </dt>
      <volist name="news_index" id="news_index_vo" empty="暂时没有数据">
        <dd><em>[{$news_index_vo.a_ctime}]</em><a href="{:U('Home/Article/news')}?aid={$news_index_vo.a_id}">{$news_index_vo.a_title}</a></dd>
      </volist>
    </dl>
  </div>
  <div class="h-right">
    <div class="h-video">
      <div class="hd"><h2 class="h-video-title"></h2><a href="{:U('Home/Index/newlist')}" target="_blank" class="h-icon more" title=""></a></div>
      <div class="bd">
        <ul class="h-video-list">
          <li class="list-top"><a href="{$index_img1[2]['e_url']}" target="_blank" class="video-pic"><img src="__PUBLIC__/{$index_img1[2]['e_img_url']}">
            <br/>{$index_img1[2]['e_title']}</a></li>
            <volist name="notice_index" id="notice_index_vo" empty="暂时没有数据">
              <li><a href="{:U('Home/Article/notice')}?aid={$notice_index_vo.a_id}" target="_blank" class="title">{$notice_index_vo.a_title}</a></li>
            </volist>
          </ul>
          <div class="more"><a href="{:U('Home/Index/newlist')}" target="_blank" title="点击进入">MORE NOTICES &gt;&gt;</a></div>
        </div>
      </div>
      <div class="h-qnav">
        <div class="hd"><h2 class="h-qnav-title">快速导航</h2></div>
        <div class="bd">
          <select class="h-qnav-drop" onchange="window.location=this.value">
            <option>学院链接</option>
            <option value="http://ieee.zzuli.edu.cn/">电气信息工程学院</option>
          </select>
          <select class="h-qnav-drop" onchange="window.location=this.value">
            <option>部门导航</option>
            <option value="http://lib.zzuli.edu.cn/">图书馆</option>
          </select>
          <select class="h-qnav-drop" onchange="window.location=this.value">
            <option>其它链接</option>
            <option value="http://web.zzuli.edu.cn/s/112/t/83/main.jspy">综合信息网</option>
          </select>
          <div class="h-qnav-link clear">               
            <a href="{:U('Home/Video/film')}" target="_blank">精彩视频入口</a>
            <a href="http://www.zzuli.edu.cn/" target="_blank">轻院官网地址</a>
            <a href="{:U('Home/Gallery/photo')}" target="_blank">作品展示入口</a>
            <a href="http://yingxin.zzuli.edu.cn/" target="_blank">迎新网站入口</a>
            <a href="http://my.zzuli.edu.cn/" target="_blank">学生信息门户</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Demo start -->
  <div id="container">
    <div id="skippr">
      <volist name="gallery" id="gallery_vo">
        <div style="background-image: url(__PUBLIC__/assets/images/gallery/{$gallery_vo.g_url})">
          <h2>作品</h2>
          <p>
            <a href="{:U('Home/Gallery/photo')}">{$gallery_vo.g_title}</a>
          </p>
        </div>
      </volist>
    </div>
  </div>
  <!-- Demo end -->
  <div class="home_main">
    <div class="hmain_left fl">
      <div class="home_tit"><a href="{:U('Home/Index/dynamic')}" style="float: right;">更多 &gt;</a>动态列表<em>Activity</em></div>
      <dl class="hmle_dl">
        <dt> <a href="{$index_img1[3]['e_url']}" class="new_img fl"><img width="150" height="95" src="__PUBLIC__/{$index_img1[3]['e_img_url']}"></a>
          <div class="new_wz fl"> <strong><a href="{$index_img1[3]['e_url']}">{$index_img1[3]['e_title']}</a></strong>    {$index_img1[3]['e_content']} </div>
          <div class="clear"></div>
        </dt>
        <volist name="dynamic_index" id="dynamic_index_vo" empty="暂时没有数据">
          <dd><em>[{$dynamic_index_vo.a_ctime}]</em><a href="{:U('Home/Article/dynamic')}?aid={$dynamic_index_vo.a_id}">{$dynamic_index_vo.a_title}</a></dd>
        </volist>
      </dl>
    </div>
    <div class="h-right">
      <div class="h-video">
        <div class="hd"><h2 class="h-video-title" style="background-position: 0px -107px;"></h2><a href="{:U('Home/Index/newlist')}" target="_blank" class="h-icon more" title=""></a></div>
        <div class="bd">
          <ul class="h-video-list">
            <li class="list-top"><a href="{$index_img1[4]['e_url']}" target="_blank" class="video-pic"><img src="__PUBLIC__/{$index_img1[4]['e_img_url']}">
              <br/>{$index_img1[4]['e_title']}</a></li>
              <volist name="videolist" id="videolist_vo" empty="暂时没有数据">
                <li><a href="{:U('Home/Video/video')}?v_id={$videolist_vo.v_id}" target="_blank" class="title">{$videolist_vo.v_title}</a></li>
              </volist>
            </ul>
            <div class="more"><a href="{:U('Home/Video/film')}" target="_blank" title="点击进入">MORE VIDEOS &gt;&gt;</a></div>
          </div>
        </div>
        <!--
        <div class="h-qnav">
          <div class="hd"><h2 class="h-qnav-title">快速导航</h2></div>
          <div class="bd">
          </div>
        </div>
      -->
    </div>
  </div>
  <div class="index_footer">
   <div class="nav_footer">
    <ul class="ul3">
     <li><a href="#"><img src="__PUBLIC__/images/small_img/2_0030_Table.png" alt="官方微信" /><span>官方微信</span></a></li>
     <li><a href="#"><img src="__PUBLIC__/images/small_img/2_0035_Plus.png" alt="学科竞赛" /><span>学科竞赛</span></a></li>
     <li><a href="#"><img src="__PUBLIC__/images/small_img/2_0039_Monitor.png" alt="在线展厅" /><span>在线展厅</span></a></li>
     <li><a href="#"><img src="__PUBLIC__/images/small_img/2_0033_Comment-Box.png" alt="就业信息" /><span>就业信息</span></a></li>
     <li><a href="#"><img src="__PUBLIC__/images/small_img/2_0036_Map-Pin.png" alt="友情链接" /><span>友情链接</span></a></li>
     <li><a href="#"><img src="__PUBLIC__/images/small_img/2_0041_Star.png" alt="艺术收藏" /><span>艺术收藏</span></a></li>
   </ul>
 </div>
 <p class="text-center p_tel">电话: 0371-63556803</p>
</div>
</div>
</div>
<div class="wel" style="width: 1024px;height:768px;background-image: url(__PUBLIC__/images/welcome.png);position: absolute;">
  <img src="__PUBLIC__/images/enter.png" style="position: absolute;bottom: 80px;right: 69px;cursor: pointer;" onclick="show_con();" />
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/jquery.skippr.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.cookie.js"></script>
<script>
  jQuery(function($){
    if($.cookie('first')==""||$.cookie('first')==null)
    {
      show_wel();
      $.cookie('first',"y");
    }
    else{
      $('.wel').hide();
      $("body").attr("onResize","");
    }
  })
  $(function(){
    $('#skippr').skippr();
  });
  function show_wel(){
    var wHeight = $(window).height();
    var wWidth = $(window).width();
    $('.wel').css({'top':(wHeight-768)/2+'px','right':(wWidth-1024)/2+'px'});

    $('.index_content').hide();
    $('.wel').animate({height:'100px',opacity:'0.4'},"slow");
    $('.wel').animate({height:'768px',opacity:'1'},"slow");
  }
  function show_con(){
   $('.index_content').show();
   $('.wel').hide();
   $("body").attr("onResize","");
 }

</script>
</body>
</html>