<link href="__PUBLIC__/css/style_sub2.css" rel="stylesheet"/>
<div class="nav2">
  <ul class="ul2 text-center">
   <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        工业设计系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        环境艺术设计系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        视觉传达设计系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        数字媒体艺术系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        服装设计系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        设计理论系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        公共艺术设计系
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">培养方案</a></li>
        <li><a href="#">课程设置</a></li>
        <li><a href="#">成果展示</a></li>
      </ul>
    </div>
  </li>
</ul>
</div>
</div>
<div class="main_content">
  <ul class="ul_title"><li>培养目标</li></ul>
  <p class="p_main">
    以社会需要为导向，依托艺术学、设计艺术学、传播学等培养具有现代设计师的基本素养，能从事包装设计、广告设计、企业形象设计及相关科研、教学、设计管理工作的复合型创新设计人才。
  </p>
  <div class="img_footer">
    <ul class="ul_img">
      <li><img src="__PUBLIC__/images/small_img/4_0040_layer-3.png" /></li>
      <li><img src="__PUBLIC__/images/small_img/4_0041_layer-7.png" /></li>
      <li><img src="__PUBLIC__/images/small_img/4_0042_layer-5.png" /></li>
      <li><img src="__PUBLIC__/images/small_img/4_0043_layer-10.png" /></li>
    </ul>
  </div>
  <div class="img_4">
    <img src="__PUBLIC__/images/small_img/4_0004_layer-8.png" />
    <div class="sub1">
      <p class="text-center p_text1">|研究生教育 |</p>
      <p class="text-center">| 工业设计系 |</p>
    </div>
    <div class="sub2">
      <p class="text-center p_text2">| 培养目标 |</p>
      <p class="text-center">| 课程设置 |</p>
      <p class="text-center">| 成果展示 |</p>
    </div>
  </div>
</div>