<link href="__PUBLIC__/css/style_sub1.css" rel="stylesheet"/>
<div class="nav2">
  <ul class="ul2 text-center">
    <li class="active"><a href="#"><span>成果展示</span></a></li>
    <li><a href="#"><span>论文著作</span></a></li>
    <li><a href="#"><span>科研项目</span></a></li>
  </ul>
</div>
</div>
<div class="main_content">
  <ul class="ul_title"><li>艺术设计学院成立以来，先后承担了国家级及省部级科研项目10余项，共获各类省部级奖60余项，其它奖项140多项，出版专著17部，教材11部，发表学术论文130余篇。41项科研成果被采用，转让科研成果32项，直接带来经济效益242万元；数余件绘画、设计作品入选国内外大型展览。</li></ul>
  <div class="img_footer">
    <ul class="ul_img">
      <li><img src="__PUBLIC__/images/small_img/5_0012_layer-17.png" /></li>
      <li><img src="__PUBLIC__/images/small_img/5_0013_layer-16.png" /></li>
      <li><img src="__PUBLIC__/images/small_img/5_0014_layer-15.png" /></li>
    </ul>
    <div class="divtext">在科研方面</div>
    <p class="ptext">艺术设计学院已形成了产品设计艺术理论、包装艺术设计理论、设计与消费研究等多个研究方向。</p>
  </div>
  <div class="img_4">
    <img src="__PUBLIC__/images/small_img/5_0017_layer-14.png" />
    <div class="sub2">
      <p class="text-center p_text2">| 研究创作 |</p>
      <p class="text-center">| 成果展示 |</p>
      <p class="text-center">| 科研项目 |</p>
    </div>
  </div>
</div>