  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style_sub.css">
  <div class="nav2">
  	<ul class="ul2 text-center">
  		<li class="active"><a href="#"><span>学校简介</span></a></li>
  		<li><a href="#"><span>党政办公室</span></a></li>
  		<li><a href="#"><span>学院分团委</span></a></li>
  		<li><a href="#"><span>学生工作办公室</span></a></li>
  		<li><a href="#"><span>研究生管理办公室</span></a></li>
  	</ul>
  </div>
</div>
<div class="main_content">
	<p class="p_main">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学校于1985年开办设计类专业，先后隶属专科部、基础部，1990年成立工业艺术设计系，2001年撤系建院。经过近30年的建设与发展，逐渐形成了自己的办学特色和学科优势成为了河南省乃至全国重要的艺术人才培养基地。学校拥有设计学级学科硕士学位授予权， 艺术硕士、工程硕士（工业设计工程）两个专业学位授权领域，以及同等学力申请硕士学位授予权。设计学一级学科为河南省第八批重点学科,学校博士点立项建设支撑学科。</p>
	<p class="p_main p_last">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 目前有产品设计、服装与服饰设计、视觉传达设计、环境设计、动画、数字媒体艺术、绘画、工艺美术、工业设计、服装设计与工程等十个本科专业（根据最新专业目录调整后情况），其中产品设计（工业设计）专业被为国家级特色专业建设点，艺术设计专业和动画专业为省级特色专业建设点。目前有教职工119人，其中教授14人，副教授19人，博士5人，河南省教学名师1人，省级优秀教师、骨干教师2人.</p>
</div>
<div class="img_footer">
	<ul class="ul_img">
		<li><img src="__PUBLIC__/images/small_img/2_0000_layer1.png" /><span>那一层层光影交错的楼梯</span></li>
		<li><img src="__PUBLIC__/images/small_img/2_0000_layer2.png" /><span>一道道光线斑驳的门口</span></li>
		<li><img src="__PUBLIC__/images/small_img/2_0000_layer3.png" /><span>一桩桩随意摆放的木凳</span></li>
		<li><img src="__PUBLIC__/images/small_img/2_0000_layer4.png" /><span>都是楼里面不可错过的文艺景色</span></li>
	</ul>
</div>