{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>艺术设计学院-郑州轻工业学院</title>
  <link href="favicon.ico" rel="shortcut icon">
  <!-- Bootstrap -->
  <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/boots_config.css">
  <link href="__PUBLIC__/css/style_white.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
     <div class="index_content">
      <div class="img_header">
       <img class="img_baner" src="__PUBLIC__/images/small_img/3_0033_layer-1.png" />
       <div class="img_mask"></div>
       <img class="img_baner2" src="__PUBLIC__/images/small_img/logo.png" />
       <img class="img_baner3" src="__PUBLIC__/images/small_img/1_0003_logo.png">
       <div class="div_nav">
        <nav>
         <ul class="ul1">
          <li><div><a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/images/small_img/2_0020_List-Format.png" alt="学院首页" /><span>学院首页</span></a></div></li>
          <li>
            <div class="dropdown">
              <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="__PUBLIC__/images/small_img/2_0016_Home.png" alt="学院概况" /><span>学院概况</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{:U('Home/Index/survey')}">党政管理机构</a></li>
                <li><a href="{:U('Home/Index/survey')}">系部中心</a></li>
              </ul>
            </div>
          </li>
          <li class="active">
            <div class="dropdown">
              <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="__PUBLIC__/images/small_img/2_0010_User.png" alt="师资队伍" /><span>师资队伍</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{:U('Home/Index/teaching')}">教师荣誉</a></li>
                <li><a href="{:U('Home/Index/teaching')}">教师名录</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="__PUBLIC__/images/small_img/2_0007_Multi-User.png" alt="人才培养" />
                <span>人才培养</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{:U('Home/Index/majors')}">研究生教育</a></li>
                <li><a href="{:U('Home/Index/majors')}">本科生教育</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{:U('Home/Index/majors')}">教学评估</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="__PUBLIC__/images/small_img/2_0004_Edit.png" alt="研究创作" /><span>研究创作</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{:U('Home/Index/research')}">主要研究方向</a></li>
                <li><a href="{:U('Home/Index/research')}">主要研究成果</a></li>
                <li><a href="{:U('Home/Index/research')}">主要创作方向</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="__PUBLIC__/images/small_img/2_0015_Document.png" alt="党团工学" /><span>党团工学</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="{:U('Home/Index/campus')}?sub=党总支新闻">党总支新闻</a></li>
                <li><a href="{:U('Home/Index/campus')}?sub=共青团新闻">共青团新闻</a></li>
                <li><a href="{:U('Home/Index/campus')}?sub=分工会新闻">分工会新闻</a></li>
                <li><a href="{:U('Home/Index/campus')}?sub=学生会新闻">学生会新闻</a></li>
                <li><a href="{:U('Home/Index/campus')}?sub=政策法规">政策法规</a></li>
                <li><a href="{:U('Home/Index/campus')}?sub=特色工作">特色工作</a></li>
                <li><a href="{:U('Home/Index/campus')}?sub=美丽瞬间">美丽瞬间</a></li>
                <li><a href="{:U('Home/Index/campus')}">全部新闻</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav2">
      <ul class="ul2 text-center">
       <li class="active"><a href="">视觉传达设计系</a></li>
       <li><a href="">工业设计系 </a></li>
       <li><a href="">传媒艺术设计系</a></li>
       <li><a href="">动画设计系</a></li>
       <li><a href="">环境艺术设计系</a></li>
       <li><a href="">服装艺术设计系</a></li>
       <li><a href="">美术系</a></li>
       <li><a href="">理论教学部</a></li>
       <li><a href="">行政实验</a></li>
     </ul>
   </div>
 </div>
 <div class="main_content">
   <div class="div_125_217"></div>
   <div class="div_person"><img src="__PUBLIC__/images/small_img/3_0018_person-9.png"></div>
   <div class="div_01"><span>0</span>1.个人简介</div>
   <div class="div_02"><span>郭新生</span>教授 视觉传达系主任</div>
   <div class="div_03">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">郭新生</a></li>
     <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">卢建洲</a></li>
     <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">陈芳</a></li>
     <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">梁哲</a></li>
   </ul>

   <!-- Tab panes -->
   <div class="tab-content">
     <div role="tabpanel" class="tab-pane active" id="home">
      <p>男，汉族，1965年1月生于河南开封。1987年9月至1991年6月在原浙江
       美术学院（现中国美术学院）装潢设计专业学习。主要研究方向是视觉
       传达设计视觉符号研究,民间美术应用研究。自2002年以来，先后发表
       学术论文20余篇，其中有8篇发表于核心期刊，两篇发表在日本茨城大学学报。
     </p>
   </div>
   <div role="tabpanel" class="tab-pane" id="profile">
    <p>男，汉族，1965年1月生于河南开封。1987年9月至1991年6月在原浙江
     美术学院（现中国美术学院）装潢设计专业学习。主要研究方向是视觉
     传达设计视觉符号研究,民间美术应用研究。自2002年以来，先后发表
     学术论文20余篇，其中有8篇发表于核心期刊，两篇发表在日本茨城大学学报。
   </p>
 </div>
 <div role="tabpanel" class="tab-pane" id="messages">
  <p>男，汉族，1965年1月生于河南开封。1987年9月至1991年6月在原浙江
   美术学院（现中国美术学院）装潢设计专业学习。主要研究方向是视觉
   传达设计视觉符号研究,民间美术应用研究。自2002年以来，先后发表
   学术论文20余篇，其中有8篇发表于核心期刊，两篇发表在日本茨城大学学报。
 </p>
</div>
<div role="tabpanel" class="tab-pane" id="settings">
  <p>男，汉族，1965年1月生于河南开封。1987年9月至1991年6月在原浙江
   美术学院（现中国美术学院）装潢设计专业学习。主要研究方向是视觉
   传达设计视觉符号研究,民间美术应用研究。自2002年以来，先后发表
   学术论文20余篇，其中有8篇发表于核心期刊，两篇发表在日本茨城大学学报。
 </p>
</div>
</div>

</div>
</div>
<div class="index_footer">
 <div class="nav_footer">
  <div class="center-block" style="display: inline-block;">
   <p class="text-center"> 设为首页 | 加入收藏 | 轻院首页 </p>
   <p class="text-center">地址: 郑州市东风路5号郑州轻工业学院艺术设计学院    电话: 0371-63556803 </p>
 </div>
</div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>